<div class="collection-image ci">
  <a href="{{ collection.url }}" title="{{ collection_title }}">
    {% if collection.image %}
      {% render "basic-responsive-image", type: collection.image %}
      <noscript>
        <img src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection.image.alt | escape }}" class="collection__image">
      </noscript>
    {% elsif collection.products.first and collection.products.first.media != empty %}
      {% render "basic-responsive-image", type: collection.products.first.featured_media.preview_image %}
      <noscript>
        <img src="{{ collection.products.first.featured_media.preview_image | img_url: '1024x1024' }}" alt="{{ collection.products.first.featured_media.preview_image.alt | escape }}" class="collection__image">
      </noscript>
    {% else %}
      {% render "basic-responsive-image", type: blank %}
      <noscript>
        <img src="{{ blank | img_url: '1024x1024' }}" alt="{{ collection.products.first.featured_media.alt | escape }}" class="collection__image">
      </noscript>
    {% endif %}
  </a>
</div>
<div class="product-details">
  <h3><a href="{{ collection.url }}" title="{{ collection_title }}">{{ collection.title }}</a></h3>
</div>
