
  {% form 'product', product, data-product-form:product_form_config %}
    {% if section.settings.show_vendor %}
      <h3>{{ 'products.product.designer' | t }}: {{ product.vendor }}</h3>
      <div class="clear"></div>
    {% endif %}

    {%- if settings.show_multiple_currencies -%}
      {% assign price = current_variant.price | money_with_currency %}
      {% assign compare_price = current_variant.compare_at_price | money_with_currency %}
    {%- else -%}
      {% assign price = current_variant.price | money %}
      {% assign compare_price = current_variant.compare_at_price | money %}
    {%- endif -%}
    {%- if current_variant.compare_at_price > current_variant.price -%}
      {% assign onsale = true %}
    {%- endif -%}
    <div id="product-price">
      <span class="product-price" itemprop="price">
        <span class="{% if onsale %}onsale{% endif %} money"><span class="money" data-product-id="{{ product.id }}">{{ price }}</span></span>
      </span>
      {% if onsale %}
        <span class="was">
          <span class="money" data-product-id="{{ product.id }}">{{ compare_price }}</span>
        </span>
      {% else %}
        <span class="was"></span>
      {% endif %}
    </div><div class="clear"></div>

    {% if product.options.size > 1 %}
     <div class="select" {% if product.variants.size == 1 or section.settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
       <select id="product-select-{{ product.id }}" name='id'>
         {% for variant in product.variants %}
           <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
             {{ variant.title }} - <span class="money" data-product-id="{{ product.id }}">{{ variant.price | money }}</span>
           </option>
         {% endfor %}
       </select>
     </div>
      {% if section.settings.product_variants == 'swatches' %}
        {% for option in product.options_with_values %}
          {% include "swatch" %}
        {% endfor %}
      {% endif %}
    {% elsif product.options.size == 1 and product.variants.size > 1 %}
    <div class="select" {% if product.variants.size == 1 or section.settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
       <label>{{ product.options[0] }}</label>
       <select id="product-select-{{ product.id }}" name='id'>
         {% for variant in product.variants %}
           <option data-sku="{{ variant.sku }}" value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
             {{ variant.title }} - <span class="money" data-product-id="{{ product.id }}">{{ variant.price | money }}</span>
           </option>
         {% endfor %}
       </select>
     </div>
     {% if section.settings.product_variants == 'swatches' %}
       {% for option in product.options_with_values %}
         {% include "swatch" %}
       {% endfor %}
     {% endif %}
    {% else %}
     <div class="what-is-it">
       {% if product.options.first != 'Title' %}
         <label>{{ product.options.first }}:</label>
         {% for variant in product.variants %}
           <span class="it-is">{{ variant.option1 | escape }}</span>
         {% endfor %}
       {% endif %}
     </div>
     <div class="product-variants"></div><!-- product variants -->
     <input  type="hidden" id="{{ variant.id }}" name="id" data-sku="{{ variant.sku }}" value="{{ product.variants[0].id }}" />
    {% endif %}

    <div class="product-extra">
        <a data-fancybox class="product-size-chart" data-src="#product-size-chart" href="javascript:;">{{ 'products.product.sizing' | t }}
          <div id="product-size-chart" style="display: none;">
            {% include 'mm-size' %}
          </div>
        </a>
      {% if section.settings.show_product_video and product.description contains '[#video]' %}
        {% assign shortcode_description = product.description | split: '[/video]' | first | split: '[#video]' | last %}
        <a data-fancybox class="product-video" data-src="#product-video" href="javascript:;"><i class="la la-play-circle"></i> {{ 'products.product.video' | t }}
          <div id="product-video" style="display: none;">
            {{ shortcode_description }}
          </div>
        </a>
      {% endif %}
      {% if section.settings.show_product_model and product.description contains '[#other]' %}
        <a data-fancybox class="product-model" data-src="#product-model" href="javascript:;"><i class="la la-info-circle"></i> {{ 'products.product.model' | t }}
          <div id="product-model" style="display: none;">
            {% assign shortcode_description = product.description | split: '[/other]' | first | split: '[#other]' | last %}
            {{ shortcode_description }}
          </div>
        </a>
      {% endif %}
    </div>
    <br>

    {% if section.settings.show_sku %}
      <div class="sku">
        <label style="display: inline-block; line-height: 1.6em;">{{ 'customer.order.details.sku' | t }}:</label> <span class="variant_sku">{{ current_variant.sku }}</span>
      </div><div class="clear"></div>
    {% endif %}

    {% if section.settings.show_quantity_selector %}
     <div class="product-qty selector-wrapper">
        <h5>{{ 'products.product.quantity' | t }}</h5>
        <a class="downer quantity-control-down">-</a>
        <input min="1" type="text" name="quantity" class="product-quantity" value="1" {% unless current_variant.inventory_management == blank or current_variant.inventory_policy == 'continue' %} max="{{ current_variant.inventory_quantity }}" {% endunless %} />
        <a class="up quantity-control-up">+</a>
     </div>
     <div class="clear"></div>
   {% endif %}



    {% if current_variant.available %}
      <div class="product-add">
        <input id="AddToCart" type="submit" name="button" class="add{% if section.settings.show_payment_button %} secondary-button{% endif %}" value="{{ 'products.product.add_to_cart' | t }}" />
      </div>
    {% else %}
      <div class="product-add">
        <input id="AddToCart" type="submit" name="button" class="add{% if section.settings.show_payment_button %} secondary-button{% endif %}" value="{{ 'products.product.sold_out' | t }}" />
      </div>
    {% endif %}

    {% if section.settings.show_payment_button %}
    {{ form | payment_button }}
    {% endif %}

    {% if section.settings.back_in_stock %}
    <div class="back_in_stock"{% if current_variant.available %} style="display: none"{% endif %}>
        {{ section.settings.back_in_stock_text }}
        {%- assign vnt = variant.title -%}
        {% if product.available == false %}
        <script>
        $(".back_in_stock").click(function(){
          event.stopPropagation();
          $(".back-in-stock-snippet").toggle();
        });
        </script>
      {% endif %}
    </div>
    {% endif %}

{% endform %}

{% if section.settings.back_in_stock %}
{% include 'back-in-stock-form' %}
{% endif %}
