
{% assign call_to_action = 'products.product.add_to_cart' | t %}
{% unless current_variant.available %}
  {% assign call_to_action = 'products.product.sold_out' | t %}
{% endunless %}

{% form 'product', product, id: "AddToCartForm", class: "product_form", data-product-form:product_form_config, data-product-id: product.id %}

  {% render 'product-price', variant: current_variant, product: product %}

  <div class="spi-banner">
    {{ form | payment_terms }}
  </div><!-- /.spi-banner -->

  {% if product.options.size > 1 %}
   <div class="select" {% if product.variants.size == 1 or settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
     <select id="{{ section.id }}-product-select-{{ product.id }}" name='id'>
       {% for variant in product.variants %}
         <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
           {{ variant.title }} - {{ variant.price | money }}
         </option>
       {% endfor %}
     </select>
   </div>
   {% if settings.product_variants == 'swatches' %}
     {% for option in product.options_with_values %}
       {% render "swatch",
         option: option,
         current_variant: current_variant,
         product: product,
         show_color_swatches: settings.show_color_swatches,
         color_swatch_shape: settings.color_swatch_shape,
         color_swatch_style: settings.color_swatch_style %}
     {% endfor %}
   {% endif %}
  {% elsif product.options.size == 1 and product.variants.size > 1 %}
  <div class="select" {% if product.variants.size == 1 or settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
     <label>{{ product.options[0] }}</label>
     <select id="{{ section.id }}-product-select-{{ product.id }}" name='id'>
       {% for variant in product.variants %}
         <option data-sku="{{ variant.sku }}" value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
           {{ variant.title }} - {{ variant.price | money }}
         </option>
       {% endfor %}
     </select>
   </div>
   {% if settings.product_variants == 'swatches' %}
     {% for option in product.options_with_values %}
       {% render "swatch",
         option: option,
         current_variant: current_variant,
         product: product,
         show_color_swatches: settings.show_color_swatches,
         color_swatch_shape: settings.color_swatch_shape,
         color_swatch_style: settings.color_swatch_style %}
     {% endfor %}
   {% endif %}
   {% elsif product.variants.size == 1 %}
     <select id="{{ section.id }}-product-select-{{ product.id }}" name="id" {% if product.variants.size == 1 or settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
       {% for variant in product.variants %}
         <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
           {{ variant.title }} - {{ variant.price | money }}
         </option>
       {% endfor %}
     </select>
   {% else %}
   <div class="what-is-it">
     {% if product.options.first != 'Title' %}
       <label>{{ product.options.first }}:</label>
       {% for variant in product.variants %}
         <span class="it-is">{{ variant.option1 | escape }}</span>
       {% endfor %}
     {% endif %}
   </div>
   <div class="product-variants"></div><!-- product variants -->
   <input  type="hidden" id="{{ variant.id }}" name="id" data-sku="{{ variant.sku }}" value="{{ product.variants[0].id }}" />
  {% endif %}

  {% if show_sku %}
  <div class="product__sku-container sku js-product-sku-container{% if current_variant.sku == blank %} hide{% endif %}">
    <span class="product__sku-label">{{ 'customer.order.details.sku' | t }}</span>
    <span class="product__sku-value js-product-sku">{{ current_variant.sku }}</h5>
  </div><div class="clear"></div>
  {% endif %}

  {% if show_quantity %}
   <div class="product-qty selector-wrapper">
      <h5>{{ 'products.product.quantity' | t }}</h5>
      <a class="downer quantity-control-down">-</a>
      <input min="1" type="text" name="quantity" class="product-quantity" value="1" {% if current_variant.inventory_management == 'shopify' %}{% unless current_variant.inventory_policy == 'continue' %} max="{{ current_variant.inventory_quantity }}" {% endunless %}{% endif %} />
      <a class="up quantity-control-up">+</a>
   </div>
   <div class="clear"></div>
 {% endif %}

  <div class="product-add">
    <div class="note note-success js-added-msg" style="display: none">
      <b>{{ 'products.product.added' | t }}</b>&nbsp;&nbsp;&nbsp;<a class="underline" href="{{ routes.cart_url }}">{{ 'products.product.view_cart' | t }}</a> {{ 'products.product.or' | t }} <a class="underline" href="{{ routes.all_products_collection_url }}">{{ 'products.product.continue' | t }}</a>.
    </div>
    <div class="note note-error js-error-msg" style="display: none">
      <b>{{ 'cart.general.cart_error' | t }}</b>&nbsp;&nbsp;&nbsp;{{ 'cart.general.update_qty_error' | t }}
    </div>
    <input id="addToCart" type="submit" name="button" class="add clearfix AddtoCart js-ajax-submit {% if section.settings.show_payment_button and product.selling_plan_groups.size == 0 %} secondary-button{% endif %}" value="{{ call_to_action }}" {% unless current_variant.available %}disabled{% endunless %} />
  </div>

  {% if show_payment_button %}
    {{ form | payment_button }}
  {% endif %}

  {% if section.settings.back_in_stock %}
    <div class="back_in_stock js-back-in-stock"{% if current_variant.available %} style="display: none"{% endif %}>
      {{ section.settings.back_in_stock_text }}
      {%- assign vnt = variant.title -%}
    </div>
  {% endif %}

{% endform %}

{% if section.settings.back_in_stock %}
{% render 'back-in-stock-form', product: product %}
{% endif %}
