{% case settings.product_image_size %}
{% when 'natural' %}
{% assign aspect_ratio = 'natural' %}
{% when 'square' %}
{% assign aspect_ratio = 'square' %}
{% when 'landscape' %}
{% assign aspect_ratio = 'landscape' %}
{% when 'portrait' %}
{% assign aspect_ratio = 'portrait' %}
{% endcase %}

<div class="ci">
{% if product.available %}
  {% for col in product.collections %}
    {% if col.handle == 'new' %}
      <div class="new icn">{{ 'products.general.new' | t }}</div>
    {% endif %}
  {% endfor %}

  {% if product.price < product.compare_at_price %}
    <div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
  {% endif %}

{% else %}
  <div class="so icn">{{ 'products.general.sold' | t }}</div>
{% endif %}

  <div class="prod-image image_{{ aspect_ratio }}">
    {% if product.featured_media %}
      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
        <div class="reveal">
          {%- assign preview_image = product.featured_media.preview_image -%}
          {%- assign second_image = product.media[1] -%}
          {% render "basic-responsive-image", type: preview_image %}
          <noscript>
            <img src="{{ preview_image | img_url: '1024x' }}" alt="{{ preview_image.alt | escape }}">
          </noscript>

          {% if settings.image_flip and product.media.size > 1 %}
            <div class="hidden">
              {% render "basic-responsive-image", type: product.media[1] %}
              <noscript>
                <img src="{{ product.media[1] | img_url: '1024x' }}" alt="{{ product.media[1].alt | escape }}">
              </noscript>
            </div>
          {% endif %}
        </div>
      </a>
    {%- else -%}
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    {% if settings.quickview and template != 'search' %}
        <button class="quick-view-{{ product.id }} product-listing__quickview-trigger js-modal-open js-quickview-trigger" type="button" name="button" data-wau-modal-target="quickview" data-product-url="{{ product.url }}?view=quick">{{ 'products.general.quick_view' | t }}</button>
    {% endif %}
  </div>
</div>

<div class="product-details">
  <a href="{{ product.url | within: collection }}" class="js-product-details-link">
    {% if settings.vendor %}
      <h4>{{ product.vendor }}</h4>
    {% endif %}
    <h3>{{ product.title }}</h3>
  </a>

  {% unless product.template_suffix == 'not-for-sale' %}

  {% render 'product-price-listing', product: product %}

  <div class="product_listing_options">
  {% if product.variants.size > 1 %}
     {% if settings.product_info == 'sizes' and product.available %}
       {% render 'show-sizes', product: product %}
     {% elsif settings.product_info == 'colors' and product.available %}
       {% render 'show-colors', product: product %}
     {% endif %}
   {% endif %}

  {% if settings.product_info == 'add_to_cart' and settings.quickview == false %}
    {% render 'product-grid-add', product: product %}
  {% endif %}

  {% if settings.show_reviews %}
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  {% endif %}
  </div>
 {% endunless %}

</div>
