<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8" />

  <meta name="google-site-verification" content="MRKAjauvgaWP4BPkNorJRdyqfWYJbPBLgV60yAj6cWk" />

  {% include 'google-fonts' %}
  {% include 'social-media-meta-tags' %}

    <!-- SEO
  ================================================== -->
  <title>
    {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

    <!-- CSS
  ================================================== -->

  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}
  {{ 'minion.scss' | asset_url | stylesheet_tag }}

    <!-- JS
  ================================================== -->

  {{ "//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" | script_tag }}
  {{ "//unpkg.com/eventemitter3@latest/umd/eventemitter3.min.js" | script_tag }}

  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
  {% if template contains 'customers' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ content_for_header }}
{{ 'bold-brain-widget.css' | asset_url | stylesheet_tag }}

{%- render 'bold-pr' -%}
{%- render 'bold-common' -%}
  <link rel="next" href="/next"/>
  <link rel="prev" href="/prev"/>
</head>

<body class="gridlock shifter-left {{ template }}">
  {% if settings.ajax_cart_method == 'drawer' %}
    {% include 'timber-cart' %}
  {% endif %}

  <div class="shifter-page {% if settings.ajax_cart_method == 'drawer' %} is-moved-by-drawer{% endif %}" id="PageContainer">

    {% section 'header' %}
    <div class="page-wrap">
    {% if settings.scrolling_bar_position == 'header' %}
      {% section 'scrolling-announcements' %}
    {% endif %}

      {% if template == 'index' or template contains 'blog' or template contains 'collection' or template contains 'page' or template contains 'product' %}
        {{ content_for_layout }}
      {% else %}
        <div id="content" class="row">
          {% include 'breadcrumb' %}
          {{ content_for_layout }}
        </div>
      {% endif %}
    </div>

    {% unless template == 'index' %}
      {% section 'featured-content' %}
    {% endunless %}

    {% if settings.scrolling_bar_position == 'above_footer' %}
      {% section 'scrolling-announcements' %}
    {% endif %}

    {% section 'footer' %}

    {% if settings.scrolling_bar_position == 'below_footer' %}
      {% section 'scrolling-announcements' %}
    {% endif %}

    {% include 'popup' %}
  </div>
  {% section 'mobile-navigation' %}

  <a href="#" class="scrollup"><i class="la la-chevron-up" aria-hidden="true"></i> TOP</a>

  <div class="fancybox-wrapper"></div>
  <div class="clear"></div>

  <!-- Begin Recently Viewed Products -->
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    // Including api.jquery.js conditionnally.
    if (typeof Shopify.resizeImage === 'undefined') {
      document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
    }
    //]]>
  </script>

  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}

  <!-- Facebook Widget -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127142210767229";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Ajax Cart -->
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}

  {% if settings.ajax_cart_method == 'drawer' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '[data-product-form]',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '.CartCount',
          cartCostSelector: '.CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
        });
        {% if settings.ajax_cart_method == 'drawer' %}
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
          timber.RightDrawer.open();
        });
        {% endif %}
        {% if settings.show_multiple_currencies %}
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Convert currency when ajaxcart opens
          Currency.convertAll(shopCurrency, Currency.currentCurrency);
        });
        {% endif %}
    </script>
  {% else %}
    {% include 'ajaxify-cart' %}
  {% endif %}

  <!-- No JS -->
  <script>
    function loadJS(u) {
        var r = document.getElementsByTagName("script")[0],
            s = document.createElement("script");
        s.src = u;
        r.parentNode.insertBefore(s, r);
    }
  </script>
  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <script>
    if (!window.HTMLPictureElement) {
      loadJS("https://afarkas.github.io/lazysizes/plugins/respimg/ls.respimg.min.js");
    }
  </script>

  <!-- JS Variable Helpers -->
  <script>
      var template = {{ template | json }};
  </script>

  <!-- Fancybox JS -->
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}

{% render 'spurit_po2_theme_snippet' %}
{% include 'mw_GP_objects' %}{% render 'upsell-now', customer: customer, product: product, template: template, cart: cart %}
  
{% render 'afterpay' %}
</body>
</html>
